body {
    background-color: #222;
    color: #eee;
    font-family: monospace;
}

button {
    width:  64px;
    height: 64px;
    border: none; 
}

button:hover {
    cursor: pointer
}

#wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 33%);
    margin: auto;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-box {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: 2;
    justify-items: center;
}

#cross {
    background: url(../img/cross.png);
    background-size: cover;
}

#circle {
    background: url(../img/circle.png);
    background-size: cover;
}

#replay {
    background: url(../img/replay.png);
    background-size: cover;
}

#icon {
    width: 128px;
    height: 128px;
    margin: 5px;
}

#container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 128px);
    width: fit-content;
    margin: auto;
}

#container > div {
    width: 128px;
    height: 128px;
}

#game-start-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

#winner-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-size: 24pt;
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 70%;
    color: #222;
    border-radius: 64px;
    box-shadow: 0px 10px 0px 10px rgba(0, 0, 0, 0.4);

}

.empty {
    background-color: rgba(0,0,0,0.4);
}

.empty:hover {
    cursor: pointer;
    background:rgba(255, 255, 0, 0.6)
}

.circle {
    background: url(../img/circle.png);
}

.cross {
    background: url(../img/cross.png);
}

/* visibility */

.visible {
    display: block;
}

.not-visible {
    display: none;
}

/*SCORE LABELS*/

.blue {
    color: #1923a5;
}

.red {
    color: #a51c19
}

#player-scores {
    display: grid;
    grid-template-areas:
    "title title"
    "name1 points1"
    "name2 points2" 
    ;
    grid-template-rows: 1fr 1fr 1fr;
}

#player-scores > * {
    display: table-cell;
    line-height: 50%;
    text-align: center;
    align-self: center;
}

#player-scores > h1 {
    grid-area: title;
}

#player-1-name {
    grid-area: name1;
}

#player-2-name {
    grid-area: name2;
}

#player-1-score {
    grid-area: points1;
}

#player-2-score {
    grid-area: points2;
}